<div class="container">
    <h3 class="mt-5">MENU</h3>
    <div class="row">
        <div class="mt-4">
            <button class="col-12" type="button" class="btn btn-info" routerLink="/new-car">
                <i class="fa fa-briefcase" aria-hidden="true"></i>   Cars Management
            </button>
        </div>
    </div>
    <div class="row">
        <div class="mt-3">
            <button class="col-12" type="button" class="btn btn-primary" routerLink="/new-car">
                <i class="fa fa-plus" aria-hidden="true"></i>    Add a new Car
            </button>
        </div>
    </div>
</div>